{% extends 'base.html' %} {% block title %}
<title>New Question</title>
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/login_register.css') }}"
/>
{% endblock %} {% block content %}
<div class="form-content">
	<form class="question-form" action="{{url_for('views.add_discussion')}}" method="POST">
		<h5 class="form-title">New Question</h5>

		<!-- <div class="errors">
			{% if question_error %}
		        <p class="error-title"></p>
		    {% endif %}
		</div> -->

		<div class="mb-3">
			<label class="form-label">Title</label>
			<input
				type="text"
				class="form-control"
				name="title"
				value="{{ default_title }}"
			/>
		</div>
		<div class="mb-3">
			<label class="form-label">Text</label>
			<textarea class="form-control" rows="3" name="text"></textarea>
		</div>

		<button type="submit" class="btn btn-primary">Add Question</button>
	</form>
</div>

{% endblock %}
