{% extends 'base.html' %}

{% block title %}
    <title>{{ user.nickname }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/discussions_list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/discussion_details.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_page.css') }}">
{% endblock %}

{% block content %}
<div class="content">
	<div class="content-header">
        <div class="content-header-title">
            {{ discussions.count() }} Questions
        </div>
        <div class="content-header-ask-question">
                <a href="{{url_for('views.edit_user', user_id=session['user']['id'])}}" class="btn btn-primary">Edit profile</a>
        </div>
    </div>
    <div class="content-mainbar">
        <div class="discussions-list">
            {% for discussion in discussions %}
                <div class="discussion">
                    <div class="discussion-statistics">
                        <a class="discussion-statistics-item-link" href="{{url_for('views.discussion_details', discussion_id=discussion.id)}}">
                            <div class="discussion-statistics-item">
                                <div class="discussion-statistics-count">
                                    {{discussion.grade}}
                                </div>
                                <div class="discussion-statistics-title">
                                    votes
                                </div>
                            </div>
                        </a>
                        <a class="discussion-statistics-item-link" href="{{url_for('views.discussion_details', discussion_id=discussion.id)}}">
                            <div class="discussion-statistics-item">
                                <div class="discussion-statistics-count">
                                    {{discussion.answers | count}}
                                </div>
                                <div class="discussion-statistics-title">
                                    answers
                                </div>
                            </div>
                        </a>
                        <a class="discussion-statistics-item-link" href="{{url_for('views.discussion_details', discussion_id=discussion.id)}}">
                            <div class="discussion-statistics-item">
                                <div class="discussion-statistics-count">
                                    0
                                </div>
                                <div class="discussion-statistics-title">
                                    views
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="discussion-details">
                        <h3 class="discussion-details-title">
                            <a class="discussion-details-title-link" href="{{url_for('views.discussion_details', discussion_id=discussion.id)}}">{{discussion.title}}</a>
                        </h3>
                        <div class="discussion-details-info">
                            <div class="discussion-details-tags">
                                {% for tag in discussion.tags %}
                                    <a class="tag" href="">
                                        {{tag.title}}
                                    </a>
                                {% endfor %}
                            </div>

                            <div class="discussion-details-user">
                                <a href="{{url_for('views.view_user', user_id=discussion.user.id)}}" class="user-link">{{discussion.user.nickname}}</a>
                                asked {{discussion.created_at.strftime('%d.%m.%Y %H:%M')}}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> {# /.discussions-list#}

		<div class="content-header">
			<div class="content-header-title">
				{{ user.answers | count }} Answers
			</div>
		</div>

        <div class="answers-list discussions-list">
            {% for discussion in discussions_for_user_answers %}
                <div class="answer">
                    <div class="discussion">
                        <div class="discussion-statistics">
                            <a class="discussion-statistics-item-link" href="{{url_for('views.discussion_details', discussion_id=discussion.id)}}">
                                <div class="discussion-statistics-item">
                                    <div class="discussion-statistics-count">
                                        {{discussion.grade}}
                                    </div>
                                    <div class="discussion-statistics-title">
                                        votes
                                    </div>
                                </div>
                            </a>
                            <a class="discussion-statistics-item-link" href="{{url_for('views.discussion_details', discussion_id=discussion.id)}}">
                                <div class="discussion-statistics-item">
                                    <div class="discussion-statistics-count">
                                        {{discussion.answers | count}}
                                    </div>
                                    <div class="discussion-statistics-title">
                                        answers
                                    </div>
                                </div>
                            </a>
                            <a class="discussion-statistics-item-link" href="{{url_for('views.discussion_details', discussion_id=discussion.id)}}">
                                <div class="discussion-statistics-item">
                                    <div class="discussion-statistics-count">
                                        0
                                    </div>
                                    <div class="discussion-statistics-title">
                                        views
                                    </div>
                                </div>
                            </a>
                        </div> <!-- /."discussion-statistics -->
                        <div class="discussion-details">
                            <h3 class="discussion-details-title">
                                <a class="discussion-details-title-link" href="{{url_for('views.discussion_details', discussion_id=discussion.id)}}">
									{{discussion.title}}
								</a>
                            </h3>
                            <div class="discussion-details-info">
                                <div class="discussion-details-tags">
                                    {% for tag in discussion.tags %}
                                        <a class="tag" href="">
                                            {{tag.title}}
                                        </a>
                                    {% endfor %}
                                </div>

                                <div class="discussion-details-user">
                                    <a href="{{url_for('views.view_user', user_id=discussion.user.id)}}" class="user-link">{{discussion.user.nickname}}</a>
                                    asked {{discussion.created_at.strftime('%d.%m.%Y %H:%M')}}
                                </div>
                            </div>
                        </div> <!-- /.discussion-details -->
                    </div> <!-- /.discussion -->
					{% for answer in discussion.answers %}					
						{% if answer.user_id == user.id %}
							<table class="question_answer">
								<tbody><!-- <tbody> -->
									<tr class="question_answer-row">
										<td class="question_answer-data">
											<svg aria-hidden="true" class="svg-icon iconArrowUpLg" width="36" height="36" viewBox="0 0 36 36" onclick="change_grade(element=this, discussion=false, answer_id='{{answer.id}}', up=true)">
												<path class="change_grade" d="M2 26h32L18 10 2 26Z"></path>
											</svg>

											<div class="question_answer-grade">{{answer.grade}}</div>

											<svg aria-hidden="true" class="svg-icon iconArrowDownLg" width="36" height="36" viewBox="0 0 36 36" onclick="change_grade(element=this, discussion=false, answer_id='{{answer.id}}', up=false)">
												<path class="change_grade" d="M2 10h32L18 26 2 10Z"></path>
											</svg>

										</td>
										<td class="question_answer-data">
											<div class="question_answer-text">
												{{ answer.text }}
											</div>
											<div class="question_answer-author_data">
												<div class="question_answer-user">
													<a href="{{url_for('views.view_user', user_id=answer.user.id)}}" class="question_answer-user-link user-link">{{answer.user.nickname}}</a>
												</div>
												<div class="question_answer-datetime datetime">{{answer.updated_at.strftime('%d.%m.%Y %H:%M')}}</div>
													{% if answer.edited %}
														<div class="question_answer-edited">edited</div>
													{% endif %}
											</div>
										</td>
									</tr><!-- /.question_answer-row -->
								</tbody><!-- </tbody> -->
							</table> <!-- /.question_answer -->
						{% endif %}
					{% endfor %}
				</div> <!-- /.answer -->
			{% endfor %}
		</div> <!-- /.answers-list discussions-list -->

		<div class="content-header">
			<div class="content-header-title">
				{{ user.commentaries | count }} Commentaries
			</div>
		</div>
		<div class="commentaries-list discussions-list">
			{% for discussion in discussions_for_user_commentaries %}
				<div class="discussion">
					<div class="discussion-statistics">
						<a class="discussion-statistics-item-link" href="{{url_for('views.discussion_details', discussion_id=discussion.id)}}">
							<div class="discussion-statistics-item">
								<div class="discussion-statistics-count">
									{{discussion.grade}}
								</div>
								<div class="discussion-statistics-title">
									votes
								</div>
							</div>
						</a>
						<a class="discussion-statistics-item-link" href="{{url_for('views.discussion_details', discussion_id=discussion.id)}}">
							<div class="discussion-statistics-item">
								<div class="discussion-statistics-count">
									{{discussion.answers | count}}
								</div>
								<div class="discussion-statistics-title">
									answers
								</div>
							</div>
						</a>
						<a class="discussion-statistics-item-link" href="{{url_for('views.discussion_details', discussion_id=discussion.id)}}">
							<div class="discussion-statistics-item">
								<div class="discussion-statistics-count">
									0
								</div>
								<div class="discussion-statistics-title">
									views
								</div>
							</div>
						</a>
					</div> <!-- /."discussion-statistics -->
					<div class="discussion-details">
						<h3 class="discussion-details-title">
							<a class="discussion-details-title-link" href="{{url_for('views.discussion_details', discussion_id=discussion.id)}}">
								{{discussion.title}}
							</a>
						</h3>
						<div class="discussion-details-info">
							<div class="discussion-details-tags">
								{% for tag in discussion.tags %}
									<a class="tag" href="">
										{{tag.title}}
									</a>
								{% endfor %}
							</div>

							<div class="discussion-details-user">
								<a href="{{url_for('views.view_user', user_id=discussion.user.id)}}" class="user-link">{{discussion.user.nickname}}</a>
								asked {{discussion.created_at.strftime('%d.%m.%Y %H:%M')}}
							</div>
						</div>
					</div> <!-- /.discussion-details -->
				</div> <!-- /.discussion -->
				<table class="commentaries">
					<tbody>
						{% for commentary in discussion.commentaries %}
							{% if commentary.user_id == user.id %}
								<tr class="commentary-row">
	
									<td class="commentary-data">
										{% if commentary.grade != 0 %}
											<div class="commentary-grade">{{commentary.grade}}</div>
										{% endif %}
									</td>
									<td class="commentary-data">
	
										<div class="commentary">
											<div class="commentary-text">
												{{commentary.text}} –
												<a href="{{url_for('views.view_user', user_id=commentary.user.id)}}" class="commentary-user-link user-link">{{commentary.user.nickname}}</a>
												{{commentary.updated_at.strftime('%d.%m.%Y %H:%M')}}
												{% if commentary.edited %}
												edited
												{% endif %}
	
											</div>
										</div>
	
									</td>
	
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			{% endfor %}
			{% for answer in answers_for_user_commentaries %}					
				<table class="question_answer">
					<!-- <tbody> -->
						<tr class="question_answer-row">
							<td class="question_answer-data">
								<svg aria-hidden="true" class="svg-icon iconArrowUpLg" width="36" height="36" viewBox="0 0 36 36">
									<path class="change_grade" d="M2 26h32L18 10 2 26Z"></path>
								</svg>

								<div class="question_answer-grade">{{answer.grade}}</div>

								<svg aria-hidden="true" class="svg-icon iconArrowDownLg" width="36" height="36" viewBox="0 0 36 36">
									<path class="change_grade" d="M2 10h32L18 26 2 10Z"></path>
								</svg>

							</td>
							<td class="question_answer-data">
								<div class="question_answer-text">
                                    <a class="question_answer-text-link" href="{{ url_for('views.discussion_details', discussion_id=answer.discussion.id) }}">
                                        {{ answer.text }}
                                    </a>
								</div>
								<div class="question_answer-author_data">
									<div class="question_answer-user">
										<a href="{{url_for('views.view_user', user_id=answer.user.id)}}" class="question_answer-user-link user-link">{{answer.user.nickname}}</a>
									</div>
									<div class="question_answer-datetime datetime">{{answer.updated_at.strftime('%d.%m.%Y %H:%M')}}</div>
										{% if answer.edited %}
											<div class="question_answer-edited">edited</div>
										{% endif %}
								</div>
								<table class="commentaries">
									<tbody>
										{% for commentary in answer.commentaries %}
											{% if commentary.user_id == user.id %}
												<tr class="commentary-row">
					
													<td class="commentary-data">
														{% if commentary.grade != 0 %}
															<div class="commentary-grade">{{commentary.grade}}</div>
														{% endif %}
													</td>
													<td class="commentary-data">
					
														<div class="commentary">
															<div class="commentary-text">
																{{commentary.text}} –
																<a href="{{url_for('views.view_user', user_id=commentary.user.id)}}" class="commentary-user-link user-link">{{commentary.user.nickname}}</a>
																{{commentary.updated_at.strftime('%d.%m.%Y %H:%M')}}
																{% if commentary.edited %}
																edited
																{% endif %}
					
															</div>
														</div>
					
													</td>
					
												</tr>
											{% endif %}
										{% endfor %}
									</tbody>
								</table>
							</td>
						</tr>
					<!-- </tbody> -->
				</table> <!-- /.question_answer -->
				
			{% endfor %}
		</div> <!-- /.commentaries-list -->
    </div> <!-- /.content-mainbar -->
</div><!-- /.content -->

{% endblock %}
